@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.cus-shadow {
		box-shadow: 0px 0px 8px rgba(69, 69, 69, 0.2);
	}

	.cus-shadow-md {
		box-shadow: 0px 0px 12px rgba(69, 69, 69, 0.5);
	}

	.cus-shadow-d {
		box-shadow: 0px 0px 0px rgba(69, 69, 69, 0.5);
	}
}
